/* Skills page */

.Skills{
    background-color: rgb(255, 255, 255);
    font-family: 'K2D', sans-serif;
}

.Skills p{
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.Skills .super_container2{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 1px);
    height: 100%;
    padding: 350px 150px;
    gap: 20px;
    box-sizing: border-box;
}

.Skills .super_container2  ul{
    display: none;
}

.Skills .super_container2  .Frontend_development{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid rgb(167, 164, 164);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.Skills .super_container2 .Frontend_development:hover{
    flex: 2;
    background-color: black;
    color: white;
}

.Skills .super_container2  .Backend_development{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid rgb(167, 164, 164);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.Skills .super_container2  .Backend_development:hover{
    flex: 2;
    background-color: black;
    color: white;
}

/*wrapper 2*/

.Skills .super_container2 ul{
    display: none;
}

.Skills .super_container2 .databases_skills {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid rgb(167, 164, 164);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.Skills .super_container2 .databases_skills:hover{
    flex: 2;
    background-color: black;
    color: white;
}

.Skills .super_container2 .tools {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid rgb(167, 164, 164);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.Skills .super_container2 .tools:hover{
    flex: 2;
    background-color: black;
    color: white;
}


.Projects .super_container .wrapper1 .Website_development{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 2px solid rgb(167, 164, 164);
    border-radius: 8px;
    transition: all 0.3s ease;
}


.Skills .super_container2  ul li{
    font-family: 'Jura';
    position: relative;
    list-style: none;
    font-size: 1.0em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1.5em;
    cursor: pointer;
    border: 2px solid rgb(167, 164, 164);
    color: rgb(167, 164, 164);
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px;
    transition: all 0.3s ease;
    gap: 0;
}

.Skills .super_container2 ul li:hover{
    background-color: white;
    padding: 15px;
    color: black;
    box-shadow: white 0px 0px 10px;
    border: 2px solid rgb(227, 227, 227);
}

.Skills .super_container2 .Frontend_development:hover{
    flex: 2;
    background-color: black;
    color: white;
}


.Skills .super_container2 ul{
    display: none;
}

.Skills .super_container2  .Database_Engineering {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(167, 164, 164);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.Skills .super_container2  .Database_Engineering:hover{
    flex: 2;
    background-color: black;
    color: white;
}

/*=======responsiveness*/

/*small laptop*/
/* Large screens */
@media (max-width: 1360px) and (min-width: 1280px){

    .Skills .super_container2{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: 10px;
        box-sizing: border-box;
    }


    .Skills .super_container2 ul{
        font-size: 0.8em;
        padding: 5px;
        box-sizing: border-box;
    }

    .Skills p{
        font-size: 1.0em;
        font-weight: 900;
        text-align: center;
    }
}

/* Medium-large screens */
@media (max-width: 1280px) and (min-width: 1000px){

    .Skills .super_container2{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: 10px;
    }

    .Skills .super_container2 ul{
        font-size: 0.6em;
        box-sizing: border-box;
    }
    .Skills p{
        font-size: 0.8em;
        font-weight: 900;
        text-align: center;
    }
}

/* Medium and Small creens */
@media (max-width: 999px) and (min-width: 509px){

    .Skills .super_container2{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 350px 150px;
        gap: 10px;
    }
    .Skills .super_container2 ul{
        font-size: 0.7em;
    }
    .Skills p{
        font-size: 1.2em;
        font-weight: 900;
        text-align: center;
    }
}

@media (max-width: 509px) and (min-width: 466px){

    .Skills .super_container2{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 350px 150px;
        gap: 10px;
    }
    .Skills .super_container2 ul{
        font-size: 0.3em;
    }
    .Skills p{
        font-size: 0.7em;
        font-weight: 900;
        text-align: center;
    }
}

@media(max-width: 465px) and (min-width: 387px){
    .Skills .super_container2{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 350px 150px;
        gap: 10px;
    }

    .Skills .super_container2 ul li {
        display: none;
    }

    .Skills p{
        font-size: 0.7em;
        font-weight: 900;
        text-align: center;
    }
}

@media(max-width: 387px){
    .Skills .super_container2{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 350px 150px;
        gap: 10px;
    }

    .Skills .super_container2 ul li {
        display: none;
    }

    .Skills p{
        font-size: 0.5em;
        font-weight: 900;
        text-align: center;
    }
}